# buildout.cfg file for Plone 4 development work
# - for production installations please use http://plone.org/download
# Each part has more information about its recipe on PyPi
# http://pypi.python.org/pypi 
# ... just reach by the recipe name
[buildout]
parts =  
    instance
    plonesite
    zopepy
    i18ndude
    zopeskel
    test
#    omelette

extends = 
    http://dist.plone.org/release/4.3.1/versions.cfg

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.3.1
    http://dist.plone.org/thirdparty

extensions = 
    mr.developer
    buildout.dumppickedversions

sources = sources

auto-checkout = *

versions = versions

# Reference any folders where you have Python egg source code under development here 
# e.g.: develop = src/my.package
# If you are using the mr.developer extension and have the source code in a 
# repository mr.developer will handle this automatically for you
develop =


# Create bin/instance command to manage Zope start up and shutdown
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage

eggs =
    PIL
    Plone
    plonetesting.policy


# Some pre-Plone 3.3 packages may need you to register the package name here in 
# order their configure.zcml to be run (http://plone.org/products/plone/roadmap/247)
# - this is never required for packages in the Products namespace (Products.*)
zcml =


# zopepy commands allows you to execute Python scripts using a PYTHONPATH 
# including all the configured eggs
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

# create bin/test command
[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance:eggs}
    plonetesting.content [test]
    plonetesting.users [test]

# create ZopeSkel and paster commands with dexterity support
[zopeskel]
recipe = zc.recipe.egg
eggs =
    ZopeSkel
    PasteScript
    zopeskel.dexterity
    plonetesting.content
    plonetesting.users

# symlinks all Python source code to parts/omelette folder when buildout is run
# windows users will need to install additional software for this part to build 
# correctly.  See http://pypi.python.org/pypi/collective.recipe.omelette for
# relevant details.
# [omelette]
# recipe = collective.recipe.omelette
# eggs = ${instance:eggs}

# Put your mr.developer managed source code repositories here, see
# http://pypi.python.org/pypi/mr.developer for details on the format of
# this part
[sources]
#collective.developermanual = git git://github.com/collective/collective.developermanual.git
plonetesting.content = git git@github.com:bogdangi/plonetesting.content.git
plonetesting.policy = git git@github.com:bogdangi/plonetesting.policy.git
plonetesting.users = git git@github.com:bogdangi/plonetesting.users.git

[plonesite]
recipe = collective.recipe.plonesite
site-id = plonetesting
instance = instance
#zeoserver = zeoserver
#profiles-initial = my.package:initial
profiles =
    plonetesting.policy:default
#post-extras =
#    ${buildout:directory}/my_script.py
#pre-extras =
#    ${buildout:directory}/my_other_script.py
#host = www.mysite.com
#protocol = https
#port = 443

# Version pindowns for new style products go here - this section extends one 
# provided in http://dist.plone.org/release/
[versions]
Babel = 3.3
BeautifulSoup = 3.2.1
Cheetah = 2.2.1
ZopeSkel = 2.21.2
collective.geo.behaviour = 1.0
collective.geo.bundle = 2.0
collective.geo.contentlocations = 3.0
collective.geo.geographer = 2.0
collective.geo.kml = 3.1
collective.geo.mapwidget = 2.0
collective.geo.openlayers = 3.0
collective.geo.settings = 3.0
collective.googleanalytics = 1.4.3
collective.recipe.plonesite = 1.8.2
collective.z3cform.colorpicker = 1.1
collective.z3cform.mapwidget = 2.0
gdata = 2.0.18
geopy = 0.95.1
i18ndude = 3.3.1
plone.app.robotframework = 0.6.4
pygeoif = 0.4.1
zopeskel.dexterity = 1.5.3
